p {
    font-family: 'Xanh Mono', monospace;
    color:rgb(163, 240, 214);
}

a:hover {
    color:black;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }