.container-fluid{
    max-width: 1170px;
}

body {
    background: rgb(187,224,201) !important;
    background: radial-gradient(circle, #bbe0c9 27%, rgb(233, 96, 55) 60%, rgba(211,158,23,1) 100%) !important;
    font-family: 'Fondamento', cursive !important;
    color: #250c30 !important;
    background-attachment: fixed !important;
}

h2 {
    font-family: 'Arial', sans serif;
    padding-top: 20px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 20px;
}

hr{
    height: 1px;
    background-image: linear-gradient(to right, rgba(12, 169, 0, 0.5) 60%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    border: none;
    margin-left:0;
    color:#113311;
}

.column{
    float: left;
}

.header{
    font-family: 'Arial', sans serif;
    font-size: 80px;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
	-webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;
    padding-top: 80px;
    padding-bottom: 30px;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.centered{
    display: block;
    margin: 0 auto;
}

.row{
    margin-top: 15px;
    margin-bottom: 0;
}

.row-pix{
    margin-top: 30px;
    margin-bottom: 30px;
  }

.video{
    text-align: center;
    margin: auto;
}

a {
    color:#113311;
    text-decoration: none;
}

.pageheading a:hover {
    text-decoration: none;
    background-color: #29F044 !important;
}

p {
    font-family: "Times New Roman" !important;
}

#story {
    font-family: "Times New Roman";
    font-size: 1.5rem;
    color: #113311;
}

#navvy{
    color:#113311;
    background: rgb(77, 96, 204);
}

#ball{
    cursor: pointer;
}

#fix{
    height: 400px;
}

#doodle{
    margin-left: 300px;
}

.example1 {
    height: 50px;  
    overflow: hidden;
    position: relative;
   }
   .example1 .header {
    font-size: 3em;
    color: blue;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);       
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }