body {
    background: rgb(187,224,201) !important;
    background: radial-gradient(circle, #bbe0c9 27%, rgb(233, 96, 55) 60%, rgba(211,158,23,1) 100%) !important;
    font-family: 'Fondamento', cursive !important;
    color: #250c30 !important;
    background-attachment: fixed !important;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

h3 {
    font-family: 'Arial', sans serif;
}

hr{
    height: 1px;
    background-image: linear-gradient(to right, rgba(12, 169, 0, 0.5) 60%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    border: none;
    margin-left:0;
}

.container{
    margin: auto !important;
    padding: 0 !important;
}

.row{
    margin-top: 15px;
    margin-bottom: 0;
}

.row-pix{
    margin-top: 30px;
    margin-bottom: 30px;
  }

.video{
    text-align: center;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.pageheading a:hover {
    text-decoration: none;
    background-color: #29F044 !important;
}

p {
    font-family: "Times New Roman" !important;
}

#navvy{
    color:#113311;
    background: rgb(77, 96, 204);
}