body {
    background: rgb(187,224,201) !important;
    background: radial-gradient(circle, #bbe0c9 27%, rgba(227,92,52,1) 60%, rgba(211,158,23,1) 100%) !important;
    font-family: 'Fondamento', cursive !important;
    color: #250c30 !important;

}

.row{
    margin-top: 30px;
    margin-bottom: 30px;
  }

a {
    color: inherit;
    text-decoration: none;
}

.pageheading a:hover {
    text-decoration: none;
    background-color: #29F044 !important;
}

p {
    font-family: "Times New Roman" !important;
}