body {
    font-family: 'Almendra Display', cursive;
    background-color: rgb(132, 190, 182);
    background-attachment: fixed;
    color: #0e2e2f;
    font-family: Courier, "Courier New", monospace, Courier, Icons /*!System*/;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #0e2e2f;
    font-family: Courier, "Courier New", monospace, Courier, Icons /*!System*/;
    font-style: normal;
}

h1 {
    font-family: 'Almendra Display', cursive;
    color: #0e2e2f;
    font-size:2.4rem;
    padding-top:25px;
}

.pageheading{
    font-size:1rem;
}

.link{
    background-color:aquamarine;
    color:rgb(14, 19, 16);
}

.pageheading a:hover {
    background-color: #40c592;
}

.imgpart {
    max-width: 20%;
}

.imgmed {
    max-width: 50%;
}

.imgsml {
    max-width: 35%;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
  }