body {
    background: rgb(2,46,28);
    background: linear-gradient(0deg, rgba(2,46,28,1) 0%, rgba(19,72,108,1) 100%);
    font-family: 'Times New Roman', Times, serif;
    color: #090975;
    font-size: 4rem;
}

a {
    color: #9098fa;
    text-decoration: none;
}

a:hover {
    background-color: #93FF10 !important;
}

.pageheading a:hover {
    background-color: #93FF10 !important;
    font-size:2rem;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }