body {
    /*background: rgb(40,66,50);
    background: radial-gradient(circle, rgba(40,66,50,1) 41%, rgba(14,11,12,1) 93%); */
    background-color:black;
    font-family: 'Almendra SC', serif;
    color: #d7f5f2;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-family: 'Almendra SC', serif;
    font-size: 1.5rem;
    color:rgb(35, 46, 42);
 }

.container{
    margin:auto;
    text-align:center;
}

.pageheading a:hover {
    background-color: #3909FA !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

#invite{
    font-size: 75px;
}