body {
    background: rgb(214,238,194);
    background: linear-gradient(90deg, rgba(214,238,194,1) 0%, rgba(204,245,223,1) 100%);
}

a {
    text-decoration: none;
}

a:hover {
    background: #00ffcc;
}