body {
    /* background: rgb(214,238,194);
    background: linear-gradient(90deg, rgba(214,238,194,1) 0%, rgba(204,245,223,1) 100%);
    color: #0e3632; */
    color: #0d251e;
    background: #000000;
    font-family: 'Fondamento', cursive;
}

/* @font-face {
    font-family: 'mramorregular';
    src: url('Images/mramor_regular-webfont.woff2') format('woff2'),
         url('Images/mramor_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

/* @font-face {
    font-family: Mramor; 
    src: url('Images/mramor.otf');
 }  */

p {
    padding: 0;
    margin: 0;
}

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    background-color: #00ffcc;
}

.circle {
    margin-left: 50px;
}