body {
/*
        background-image: url("Images/starrysky.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
*/
    font-family: 'Almendra SC', serif;
    color: #426d7a;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 18px;
    margin-bottom:0px;
 }

.pageheading a:hover {
    background-color: #3909FA !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

#invite{
    font-size: 100px;
}

.centered{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

#portal{
    font-size: 30px;
}