body {
    background-color: rgb(176, 233, 204)!important;
    background-attachment: fixed;
    color: #0e2e2f;
    font-family: Courier, "Courier New", monospace, Courier, Icons /*!System*/;
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #0e2e2f;
    font-family: Courier, "Courier New", monospace, Courier, Icons /*!System*/;
    font-style: normal;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #0e2e2f;
    font-size:1.1rem!important;
    padding-top:20px;
}

a {
    text-decoration: none;
    font-family: Courier, "Courier New", monospace, Courier, Icons /*!System*/;
    font-style: normal;
}

a:hover {
    text-decoration:none;
}

.pageheading{
    font-size:1rem;
}

.box {
    margin: 15px;
}

.link{
    background-color:aquamarine;
    color:rgb(14, 19, 16);
    font-family: Courier, "Courier New", monospace, Courier, Icons /*!System*/;
    font-style: normal;
}

.pageheading a:hover {
    background-color: #40c592;
}

.imgpart {
    max-width: 18%;
}

.imgmed {
    max-width: 50%;
}

.imgmed a:hover {
    text-decoration:none;
}

.imgsml {
    max-width: 35%;
}

.imgsml a {
    text-decoration:none;
}

.imgsml a:hover {
    text-decoration:none;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
  }


  .containers {
    display:block;
    width: 97%;
    height:auto;
    padding-top:1%;
  }