body {
    background:black;
    font-family: 'Sansita Swashed', cursive;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:hover {
    background-color: #797979;
  }