.pageheading{
    font-size:1rem;
}

.link{
    background-color:aquamarine;
}

.pageheading a:hover {
    background-color: #40c592;
}

body {
    font-family: 'Almendra Display', cursive;
    background-image: url("Images/patternbw.jpg");
}

.story {
    font-family: 'VT323', monospace;
}

.boundingbox {
    background: #9f8aac;
    opacity: 0.9;
}

.guardianspirit {
    position:absolute;
    left: 463px;
    top: -1140px;
}