.pageheading{
    font-size:1rem;
}

.link{
    background-color:aquamarine;
    color:rgb(14, 19, 16);
}

.pageheading a:hover {
    background-color: #40c592;
}

body {
    font-family: 'Almendra Display', cursive;
    background-image: url("Images/patternbw.jpg");
}

@media (min-device-width: 768px){
    .guardianspirit {
        position:absolute;
        left: 865px;
        top: 311px;
        width: 30rem;
    }
    
    .actionrecep{
        position:absolute;
        left: 1043px;
        top: 898px;
        width: 24rem;
    }
    
    .soundtexmap{
        position:absolute;
        left: 93px;
        top: 1207px;
        width: 40rem;
    }
    
    .nanosuit{
        position:absolute;
        left: 858px;
        top: 1390px;
        width: 27rem;
    }

    .bazaar{
        position:absolute;
        left: 531px;
        top: 736px;
        width:16rem;
    }

    .floptree{
        position:absolute;
        left: 73px;
        top: 271px;
        width:27rem;
    }
}

@media (max-device-width: 768px){
    .guardianspirit {
        width: 100%;
    }
    
    .actionrecep{
        width: 100%;
    }
    
    .soundtexmap{
        width: 100%;
    }
    
    .nanosuit{
        width: 100%;
    }
}


.story {
    font-family: 'VT323', monospace;
}

.boundingbox {
    background: #9f8aac;
    opacity: 0.9;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
}

.boundingboxnarrow {
    background: #9f8aac;
    opacity: 0.9;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    padding-top:4rem;
    padding-bottom:4rem;
    padding-left:4rem;
    padding-right:4rem;
}

.body {
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
}

.center {
    margin: auto;
  }

/*.guardianspirit {
    position:absolute;
    left: 34px;
    top: 178px;
}

.actionrecep{
    position:absolute;
    left: 751px;
    top: 275px;
}

.soundtexmap{
    position:absolute;
    left: 617px;
    top: 1365px;
}

.nanosuit{
    position:absolute;
    left: 49px;
    top: 999px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width:100%;
    opacity:0;
    transition: .5s ease;
    background-color:#fff;
  }
  
  .overlaybox:hover .overlay {
    opacity: 0.4;
  }
*/
  .containers {
    display:block;
    width: 100%;
    height:auto;
    padding-top:1%;
  }

  .containers img {
    position: fixed;
    max-height:70%;
    max-width: 18%;
   /* transform: translateX(500%);*/
  }

  .caption{
      color:rgb(19, 34, 16);
      font-family: 'VT323', monospace;
      font-size: 0.8rem;
  }


  .pdf{
      text-align: center;
      margin: auto;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  #myVideo2 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }