body {
    background:black;
    font-family: 'Sansita Swashed', cursive;
    color: #7ec295;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:hover {
    background-color: #797979;
  }