body {
    background-color:#000000!important;
    font-family: 'Xanh Mono', monospace!important;
    color:rgb(238, 16, 164)!important;
}

p {
    font-family: 'Xanh Mono', monospace;
    color:rgb(238, 16, 164);
    text-align:center;
}

a:hover {
    color:rgb(14, 231, 79);
}

.containers {
    display:block;
    width: 100%;
    height:auto;
    padding-top:1%;
  }
